body {
    font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 128px;
    padding-right: 128px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 16px;
}

.header-content {
    display: flex;
    background-color: #1F2937;
    gap: 20px;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: space-between;
}

.header-content .content-text {
    flex: 1;
    align-self: center;
}

.header-content .main-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.header-content .subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.header-content .content-img {
    flex-basis: 35%;
}

.header-content .content-img img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.header-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.core-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.core-content .info-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.core-content .info-header .title {
    display: flex;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.cards-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: auto;
    text-align: center;
}


.img-frame img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.cards-container .card .img-text {
    font-size: 10px;
}

.cards-container .card .img-text a {
    text-decoration: none;
    color: #1F2937;
    font-size: 10px;

}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: "light italic";
    flex: 1;
    align-self: stretch;
    padding: 128px 164px;
}

.quote-container .author {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    padding-top: 4px;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    align-self: stretch;
    margin: 64px 128px;
    border-radius: 8px;
    padding: 32px 64px;
    color: #F9FAF8;
    justify-content: space-between;
}

.action-title {
    font-weight: bold;
    font-size: 18px;
}

.call-to-action button {
    background-color: #3882F6;
    border: solid 2px #E5E7EB;
    border-radius: 8px;
    color: #E5E7EB;
    padding: 4px 20px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}