body {
    font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* gap: 150px 100px; */
    padding-left: 128px;
    padding-right: 128px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 16px;
}

.header-content {
    display: flex;
    background-color: #1F2937;
    gap: 20px;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: space-between;
}

.header-content .content-text {
    flex: 1;
}

.header-content .main-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.header-content .subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.header-content .content-img {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    flex: 1;
}

.header-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.core-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.core-content .info-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.core-content .info-header .title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 24px;
    /* border: dotted; */
}

.core-content .info-header .cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 24px;
    /* border: dotted; */
}

.core-content .info-header .cards-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;;
    justify-content: space-between;
    /* border: solid; */
    flex: 1;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
}

.core-content .info-header .cards-container .card .img-frame {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid #3882f6;
    flex-shrink: 0;
}


.core-content .quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: "light italic";
}